*{
    margin:0;
    padding: 0;
}

.bgc{
    position: relative;
    width: 95%;
    height: 100px;
    background-color: black;
    margin: 0 auto ;
    
}
div > span{
    color:#fff;
    display: block;
    font-size: 28px;
    padding-top:5px;
    padding-left: 30px;  
    /* text-align: center; */
}
.aherf{
    display: block;
    color:#fff;
    font-size: 28px;
    padding-top:5px;
    padding-left: 30px; 
    text-decoration:none 

}

.dl{
    position: relative;
    width: 1330px;
    height: 663px;
    margin: 0 auto;
    top:1px;
}
.img1{   
    display:block;
    width: 100%;   
} 
.img2{
    display: block;
    position: relative;
    left: 753px;
    top:-222px;  
}

